*

{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.menu img
{
    float: left;
}

.menu
{
    width: 100%;
 padding: 0 40px;
    text-align: right;
    position: fixed;
    right: 0px;
    top:0px;
    background-color: rgba(1,3,0,0.5);
    overflow: auto;

}
.menu .btn
{
    display: inline-block;
    font-size: 22px;
    overflow: auto;
    color:darkmagenta;
    padding: 8px 18px;
    ;

}

.btn:hover{
    cursor: pointer;
    background-color: #09c;

}


/***********************The first pic*/

.homecontnet

{
    margin-top  : 300px;
}

.home
{
    overflow: auto;
    background-image: url(drew-coffman-1872.jpg);
    text-align: center;
    height: 620px;
    background-size: cover;
    color:#fff;
    
}


.home .btn
{
    padding: 15px 27px;
    margin-top: 20px;
    border: none;
}

.home .btn1
{
    background-color: #8e7754;

}

.home .btn2
{
    background-color: #fff;
}

/*************/
.pro {
    overflow:auto;
    padding: 40px;
}
.pro .profile-img
{
  float: left;
  width: 40%;
  margin-right: 40px;
}
.profile-img img {
    width: 100%;
}
.pro .profile-desc
{
  float: left;
  width: 50%;
  padding: 40px;
  
}
.clr{
    clear: both;
}
.pro h2 
{
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
  

 }
 .continer
 {
     width: 90%;
     margin: auto;
 }
 .Ourlocation p ,.Ourlocation h2
 {
    font-size: 20px;
    margin:20px;
 }



.Ourlocation
{
    overflow: auto;
    background-color: gray;
    padding: 40px;
}
.location
{
    float: left;
    width: 50%;
}
.ourimg img {
    width: 100%;
}
.ourimg
{
    float: left;
    width: 50%;    
}
.baking
{   
    
    text-align: center;
    font-size: large;
    
}
.meals
{
    
    overflow: auto;
    text-align:center;
}

.inner
{
    padding: 10px;
}

.meal
{
    width: 33.333%;
    float: left;
    padding: 20px;
    margin-bottom: 10px;
}

.meal img
{
    width:100%;

}
.aboutUS {
    overflow: auto;
    background-color:#1b1b1b;
    color: white;
    padding: 45px;
}

.about
{
    float: left;
    width:25%;

}
.img2 {
   background-color: brown;
   text-align: center;
}
.about img
{
    background-color:white;
    
}

.contact img 
{
width: 20%;

}
.info
{   
    background-color: chocolate;
    width: 50%;
    float: left;
}

.copy
{
    padding: 2%;
}

.mapimg
{
    background-image: url(contact-details-map.png);
    background-color: tomato;
}



@media (min-width:0px) and (max-width:576px)
{
    .meal
    {
        width: 100%;   
    }
}

@media (min-width:577px) and (max-width:768px)
{
    .meal
    {
        width: 50%;   
    }
}

@media (min-width:768px) and (max-width:992px)
{
    .meal
    {
        width: 33.333%;   
    }
}
